<div
        id="<%= item.loadingId %>"
        class="ze-loading"
        style="<%= item.zIndex ? `z-index: ${item.zIndex}` : '' %>"
>
    <div class="mbl d-flex justify-center align-center">
        <div class="c-loader"></div>
    </div>
</div>
<!-- CSS 都在 loading.css 中 -->