<div
        class="post-flex d-flex flex-wrap gap-4"
        style="position: fixed; bottom: 10%; right: 10px; width: 48px; mix-blend-mode: difference;"
>
    <div
            class="mbl d-flex justify-center align-center"
            style="border-radius: 50%; width: 48px; height: 48px; border: none"
            onclick="postFlexMenu.onclickFlexBtn(event)"
    >
        <a href="<%= url_for('/') %>">
            <i class="fas fa-home" style="font-size: 24px"></i>
        </a>
    </div>

    <div
            class="mbl d-flex justify-center align-center"
            style="border-radius: 50%; width: 48px; height: 48px; border: none"
            onclick="postFlexMenu.onclickFlexBtn(event)"
    >
        <a href="#<%= item.id %>">
            <i class="fas fa-angle-up" style="font-size: 24px"></i>
        </a>
    </div>

    <div
            id="flex-music-btn"
            class="mbl d-flex justify-center align-center"
            style="border-radius: 50%; width: 48px; height: 48px; border: none"
            onclick="postFlexMenu.onclickMusicBtn()"
    >
        <i class="fas fa-music text-primary" style="font-size: 24px; cursor: pointer"></i>
    </div>
</div>

<script>
    class PostFlexMenu extends DeviceDetector{
        constructor() {
            super();
            // ...
        }

        onclickFlexBtn (event) {
            const aLink = event.target.querySelector('a')
            if (!aLink) return;
            aLink.click()
        }

        onclickMusicBtn () {
            const musicPlay = document.getElementById('music-player')
            if (musicPlay.style.left === '0px') musicPlay.style.left = -100 + '%'
            else musicPlay.style.left = 0
        }
    }

    const postFlexMenu = new PostFlexMenu();
    if (postFlexMenu.isMobile()) {
        document.getElementById('flex-music-btn').classList.remove('d-flex');
        document.getElementById('flex-music-btn').style.display = 'none';
    }
</script>