<div class="" style="height: 100%; width: 100%;">
    <div style="height: 100%; width: 100%;" class="d-flex justify-center align-center">
        <div class="text-center" style="line-height: 2">
            <div>
                由<a href="https://hexo.io/"><strong><span class="has-text-info">Hexo</span></strong></a>提供技术支持
            </div>
            <div>
                主题<strong>Goyangin</strong>由<a href="http://g3xdev.com"><span class="has-text-info"><b>g3xx</b></span></a>提供
            </div>
            <div>
                源代码由<a href="http://opensource.org/licenses/mit-license.php"><span class="has-text-info">麻省理工学院</span></a>授权
            </div>
        </div>
    </div>
</div>