<!-- 一般用于 section 标题 -->
<h1 class="title is-4 d-flex align-center" style="padding: 120px 0 60px 0">
    <span style="width: 100%; height: 2px; background: #b4b0b0; display: inline-block"></span>
    <span style="white-space: nowrap; color: <%= item?.color || 'black'%>" class="mx-4">
                <i class="<%= item?.icon || 'fab fa-markdown'%>"></i>
                <span class="ml-4"><%= item?.name || 'Markdown' %></span>
            </span>
    <span style="width: 100%; height: 2px; background: #b4b0b0; display: inline-block"></span>
</h1>

<!--<script>-->
<!--    console.log({-->
<!--        icon: '', // 这里的图标需要是完整的-->
<!--        name: '', // 标题的名字-->
<!--        color: '', // 字体颜色-->
<!--    })-->
<!--</script>-->